#navbar{
    background-color: black;
    color: whitesmoke;
}
#logo{
    color: whitesmoke;
}
#burger{
    color: whitesmoke;
}
#portnav{
    color:green;
}
#comnav{
    color:green
}
body{
    background-color: grey;
}
#portfolio{
    display:none ;
}
#contact{
    display: none;
}

#contactf{
    background-color: lightgrey;
    margin: 2%;
    width:100%;
    text-align: center;
    border-radius: 10px;
}
#home{
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: lightgrey;
    border-radius: 10px;
}
.footer{
    text-align: center;
    background-color: grey;
}
#pic{
    padding: 8%;
    border-radius: 50%;
}
#stuff{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info{
    text-align: center;
}
.cleft{
    background-color: lightgrey;
    margin: 2%;
    text-align: center;
    border-radius: 10px;

}
.cright{
    background-color: lightgrey;
    margin: 2%;
    text-align: center;
    border-radius: 10px;

}

a{
    color: green;
}